nav {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 2rem;
  background-color: white;
  margin-top: 10px;
  position: sticky;
  top: 0;

  .navBarRight {
    flex: 3;
  }

  .navBarCenter {
    flex: 5;
    background-color: white;
    box-shadow: 5px, Solid;
  }
  .navBarLeft {
    flex: 4;
  }

  .Burger-Container {
    display: flex;
    flex-direction: column;
    padding-left: 8px;

    i {
      background-color: #0544a8;
      width: 32px;
      height: 4px;
      margin: 4px;
      border-radius: 4px;
      transition: all ease 0.5s;
    }

    .open:nth-child(1) {
      transform: rotate(45deg) translateY(16px);
    }
    .open:nth-child(2) {
      opacity: 0;
    }
    .open:nth-child(3) {
      transform: rotate(-45deg) translateY(-16px);
    }
    .close:nth-child(1) {
      transform: rotate(0) translateY(0);
    }
    .close:nth-child(2) {
      opacity: 1;
    }
    .close:nth-child(3) {
      transform: rotate(0) translateY(0);
    }
  }
}
